.useroptions #forum {
	.hero.is-medium .hero-body, .hero.is-small .hero-body {
		background-color: @fp-background-white-normal;
		padding-bottom: 0rem;
    	padding-top: 2rem;
		margin-top: 1em;
    	padding-left: 0.75em;
    	padding-left: 0.75em;
	}
	.hero.is-dark .title {
		color: @fp-text-normal;	
	}
	.hero.is-dark	.subtitle {
		color: @fp-text-light;
	}
	.section {
		padding: 0rem 0rem;
		margin-bottom: 1rem;
	}
	.level-item {
		.title {
			color: @fp-text-normal;		
		}
		background-color: @fp-background-white-normal !important;
		&:extend(.common-link all);
		margin-bottom: 0rem;
	}
	form {
		background-color: @fp-background-white-normal !important;
		padding: 1rem;
		.label {
			color: @fp-text-normal;
		}
		.help.is-success{
			color: @fp-text-mention;
		}
		.select select {
			color: @fp-text-normal;
			background-color: @fp-background-white-normal;
			option {
				color: @fp-text-light;
			}
		}
		textarea {
			color: @fp-text-normal;
			background-color: @fp-background-white-normal;
		}
		padding-bottom: 2.5rem;
	}
}

@media screen and (min-width: 768px) {
	.useroptions #forum {
		.hero.is-medium .hero-body, .hero.is-small .hero-body {
			width: calc(98.1%) !important;
			margin-left: auto;
			margin-right: auto;
		}
		.level-item {
			padding-bottom: 1rem;
		}
	}
}

