.page-forum {
	.useroptions {
		> .hero.is-dark {
    		padding-bottom: 0rem;
			 padding-top: 2rem;
		}
	}
}

.level-item {
	background-color: @fp-background-white-normal;
	&:extend(.common-link all);
}