#wrapper footer:after {
  content: "0.0.1";
}
.button {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #000;
  float: right;
  font-weight: 700;
  padding: 2px 10px;
  margin: 0rem 0.2rem 0.8rem  0.1rem;
  font-size: 0.9rem;
}
.button:active {
  color: #000;
}
.button:hover {
  color: #7b7b7b;
  background: #f5f5f5;
}
.button .button.is-info {
  margin: 0rem 1rem;
  font-size: 1rem;
}
.button.is-primary {
  background: #2288fc;
  margin-left: 0.2rem;
  height: 2rem;
}
.button.is-primary:hover {
  background: #36a6ff;
}
.button.is-primary[disabled] {
  background: #2288fc;
  margin-left: 0.2rem;
  height: 2rem;
}
.button.is-primary[disabled]:hover {
  background: #36a6ff;
}
.button.is-success,
.button.is-success.is-outlined {
  background-color: #2288fc;
  border-color: #2288fc;
  color: #fff;
}
.button.is-success:hover,
.button.is-success.is-outlined:hover {
  background-color: #36a6ff;
  border-color: #36a6ff;
  color: #fff;
}
.button.is-success:focused,
.button.is-success.is-outlined:focused {
  background-color: #36a6ff;
  border-color: #36a6ff;
  color: #fff;
}
.button.is-success.is-hovered,
.button.is-success.is-outlined.is-hovered {
  background-color: #36a6ff;
  border-color: #36a6ff;
  color: #fff;
}
.button.is-warning,
.button.is-warning.is-outlined {
  background-color: #b5b5b5;
  border-color: #b5b5b5;
  color: #fff;
}
.button.is-warning:hover,
.button.is-warning.is-outlined:hover {
  background-color: #ccc;
  border-color: #ccc;
  color: #fff;
}
.button.is-warning:focused,
.button.is-warning.is-outlined:focused {
  background-color: #ccc;
  border-color: #ccc;
  color: #fff;
}
.button.is-warning.is-hovered,
.button.is-warning.is-outlined.is-hovered {
  background-color: #ccc;
  border-color: #ccc;
  color: #fff;
}
.button.is-small {
  height: 2rem;
}
html {
  color: #000;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><path d="m 0,0 100,0 0,100 -100,0 z" fill="%23b5b5b5" stroke="black" stroke-width="0" /><path d="M 0,50.5 49.5,100 99,100 0,1 Z" fill="%23bbbbbb" stroke="black" stroke-width="0" /><path d="m 50,0 50,50 0,-50 z" fill="%23bbbbbb" stroke="black" stroke-width="0" /></svg>') repeat;
}
html:before {
  background-image: none;
}
.force-wide-design #wrapper {
  padding: 0rem 0rem;
}
@media screen and (min-width: 768px) {
  .force-wide-design #wrapper {
    width: calc(98.1%) !important;
  }
}
.ql-editor {
  color: #000;
  font-size: 0.9rem;
}
.ql-editor a > strong {
  color: #1e77d0;
}
.ql-editor a > strong:hover {
  color: #6aaaea;
}
.ql-editor strong {
  color: #000;
  font-size: bold;
}
.ql-editor mention a {
  color: #c00 !important;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
  line-height: 1.3;
  padding: 0px;
}
.ql-editor mention a:before {
  content: "@";
}
.ql-editor mention a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #ff1a1a !important;
}
.ql-snow .ql-editor h1 {
  color: #000;
}
.ql-snow .ql-editor h2 {
  color: #7b7b7b;
}
.ql-toolbar.ql-snow.toolbar button {
  color: #7b7b7b;
}
.ql-toolbar.ql-snow.toolbar button.ql-active {
  color: #000;
}
.ql-container.ql-snow {
  border: 1px dotted #888;
}
.ql-container.ql-snow .ql-editor postquote {
  border: 1px solid #888;
  margin: 10px;
}
.ql-container.ql-snow .ql-editor postquote .head {
  background-color: #ace;
  font-weight: 700;
  color: #05a;
}
.ql-container.ql-snow .ql-editor postquote .body {
  background-color: #bdf;
  color: #000;
}
.ql-container.ql-snow .ql-editor blockquote {
  border: 1px solid #888;
  margin: 10px;
  background-color: #bdf;
  padding: 1rem;
}
.ql-container.ql-snow .ql-editor blockquote:before {
  content: "";
  padding: 0;
}
.quill-editor .quill-autocomplete {
  box-shadow: 0px 0px 0px 1px black;
}
.quill-tooltip {
  border: black 1px solid;
}
.quill-tooltip input {
  background-color: #ffffff;
  color: #000;
  border: 1px solid grey;
}
.quill-tooltip .links a {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #000;
  float: right;
  font-weight: 700;
  padding: 2px 10px;
  margin: 0rem 0.2rem 0.8rem  0.1rem;
  font-size: 0.9rem;
  font-size: 12px;
  font-weight: normal;
  padding: 3px;
  margin: 0rem 0.1rem 0rem 0.1rem;
}
.quill-tooltip .links a:active {
  color: #000;
}
.quill-tooltip .links a:hover {
  color: #7b7b7b;
  background: #f5f5f5;
}
.quill-tooltip .links a .button.is-info {
  margin: 0rem 1rem;
  font-size: 1rem;
}
.quill-tooltip .links a.is-primary {
  background: #2288fc;
  margin-left: 0.2rem;
  height: 2rem;
}
.quill-tooltip .links a.is-primary:hover {
  background: #36a6ff;
}
.quill-tooltip .links a.is-primary[disabled] {
  background: #2288fc;
  margin-left: 0.2rem;
  height: 2rem;
}
.quill-tooltip .links a.is-primary[disabled]:hover {
  background: #36a6ff;
}
.quill-tooltip .links a.is-success,
.quill-tooltip .links a.is-success.is-outlined {
  background-color: #2288fc;
  border-color: #2288fc;
  color: #fff;
}
.quill-tooltip .links a.is-success:hover,
.quill-tooltip .links a.is-success.is-outlined:hover {
  background-color: #36a6ff;
  border-color: #36a6ff;
  color: #fff;
}
.quill-tooltip .links a.is-success:focused,
.quill-tooltip .links a.is-success.is-outlined:focused {
  background-color: #36a6ff;
  border-color: #36a6ff;
  color: #fff;
}
.quill-tooltip .links a.is-success.is-hovered,
.quill-tooltip .links a.is-success.is-outlined.is-hovered {
  background-color: #36a6ff;
  border-color: #36a6ff;
  color: #fff;
}
.quill-tooltip .links a.is-warning,
.quill-tooltip .links a.is-warning.is-outlined {
  background-color: #b5b5b5;
  border-color: #b5b5b5;
  color: #fff;
}
.quill-tooltip .links a.is-warning:hover,
.quill-tooltip .links a.is-warning.is-outlined:hover {
  background-color: #ccc;
  border-color: #ccc;
  color: #fff;
}
.quill-tooltip .links a.is-warning:focused,
.quill-tooltip .links a.is-warning.is-outlined:focused {
  background-color: #ccc;
  border-color: #ccc;
  color: #fff;
}
.quill-tooltip .links a.is-warning.is-hovered,
.quill-tooltip .links a.is-warning.is-outlined.is-hovered {
  background-color: #ccc;
  border-color: #ccc;
  color: #fff;
}
.quill-tooltip .links a.is-small {
  height: 2rem;
}
.ql-container.ql-snow .ql-editor p {
  color: #000;
  font-size: 11pt;
}
#wrapper footer {
  background: #2288fc;
}
#wrapper footer a {
  color: #fff;
}
.common-link a,
.ql-container.ql-snow a,
.ql-container.ql-snow .ql-editor postquote .head a {
  color: #147;
}
.common-link a:hover,
.ql-container.ql-snow a:hover,
.ql-container.ql-snow .ql-editor postquote .head a:hover {
  color: #1e77d0;
}
a {
  color: #147;
}
a:hover {
  color: #1e77d0;
}
.threadpagnation .pagnationcomponent {
  background-color: #2288fc;
  margin: 0rem 0;
  color: #fff;
}
.threadpagnation .pagnationcomponent a.page {
  background-color: #2288fc;
}
.threadpagnation .pagnationcomponent a.page:hover {
  background-color: #36a6ff;
}
.threadpagnation .pagnationcomponent a.page.is-active {
  background-color: #006fb9;
}
.threadpagnation .pagnationcomponent a.page.is-spacer {
  opacity: 1;
}
.background-image {
  opacity: 0;
}
.postblock .postinner .postcontent,
.has-background-image {
  background: rgba(0, 0, 0, 0);
}
.postblock .postinner .postcontent:before,
.has-background-image:before,
.postblock .postinner .postcontent:after,
.has-background-image:after {
  background: rgba(0, 0, 0, 0);
}
.postrender .postinner > .postuser {
  border-right: 0px solid #bbb;
}
body.page-forum .postlist .postblock {
  background: linear-gradient(90deg, #d5e7ff 1px, #ffffff 25%, #ffffff 500px);
}
body.page-forum .postlist .postblock-read {
  background: linear-gradient(90deg, #e2e4e7 1px, #ffffff 25%, #ffffff 500px);
}
body.page-forum .postlist .postblock-own {
  background: linear-gradient(90deg, #eeffbb 1px, #ffffff 25%, #ffffff 500px);
}
.lastread {
  border-top: 1px solid #777;
  border-bottom: 0px solid #bbb;
}
.title.threadname,
.title.forumname {
  color: #000 !important;
}
.title.threadname a,
.title.forumname a {
  color: #000 !important;
}
#wrapper #content .postlist .forumpanel {
  border-bottom: 0px solid #bbb;
}
#wrapper #content .postlist .forumpanel:last-of-type {
  border-bottom: 1px solid #777!important;
}
.postrender .posthead {
  background: repeat-x #ccc;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777!important;
  margin-top: 0;
  margin-right: auto;
  color: #000;
}
.postrender .posthead a {
  color: #147;
}
.postrender .posthead a:hover {
  color: #1e77d0;
}
.postrender .posthead strong {
  color: #000;
}
.postrender .posthead .timeago {
  background-image: url('https://files.facepunch.com/forum/upload/1704/3a19f1ac-c6fd-4192-89d9-3d58960b1c37/clock.png');
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position-y: -1px;
}
.posterinfo .username a {
  color: #147;
}
.posterinfo .user-useronline a {
  color: #147;
  border-bottom: 1px dotted #147;
  font-weight: bolder;
}
.posterinfo .user-gold a {
  color: #A06000;
}
.posterinfo .user-moderator a {
  color: #00aa00;
}
.posterinfo .user-admin a {
  color: #00aa00;
}
.posterinfo .user-banned a {
  color: #ff0000;
}
.postlist .postinner .postuser .posterinfo .username.user-gold:after {
  content: "Gold Member";
  color: #000;
  display: block;
  font-weight: normal;
  font-size: 0.7rem;
}
.postlist .postinner .postuser .posterinfo .username.user-moderator:after {
  content: "Moderator";
  color: #00aa00;
  display: block;
  font-weight: normal;
  font-size: 0.7rem;
}
.postlist .postinner .postuser .posterinfo .username.user-admin:after {
  content: "Administrator";
  color: #00aa00;
  display: block;
  font-weight: normal;
  font-size: 0.7rem;
}
.postlist .postinner .postuser .posterinfo .username.user-banned:after {
  content: "Banned";
  color: #ff0000;
  display: block;
  font-weight: normal;
  font-size: 0.7rem;
}
.postlist .postinner .postuser .posterinfo span.userlevel {
  display: inline;
}

/*# sourceMappingURL=Awfullywhite.css.map */