.button {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #000;
  float: right;
  font-weight: 700;
  padding: 2px 10px;
  margin: 0rem 0.2rem 0.8rem  0.1rem;
  font-size: 0.9rem;
}
.button:active {
  color: #000;
}
.button:hover {
  color: #7b7b7b;
  background: #f5f5f5;
}
.button .button.is-info {
  margin: 0rem 1rem;
  font-size: 1rem;
}
.button.is-primary {
  background: #2288fc;
  margin-left: 0.2rem;
  height: 2rem;
}
.button.is-primary:hover {
  background: #36a6ff;
}
.button.is-primary[disabled] {
  background: #2288fc;
  margin-left: 0.2rem;
  height: 2rem;
}
.button.is-primary[disabled]:hover {
  background: #36a6ff;
}
.button.is-success,
.button.is-success.is-outlined {
  background-color: #2288fc;
  border-color: #2288fc;
  color: #fff;
}
.button.is-success:hover,
.button.is-success.is-outlined:hover {
  background-color: #36a6ff;
  border-color: #36a6ff;
  color: #fff;
}
.button.is-success:focused,
.button.is-success.is-outlined:focused {
  background-color: #36a6ff;
  border-color: #36a6ff;
  color: #fff;
}
.button.is-success.is-hovered,
.button.is-success.is-outlined.is-hovered {
  background-color: #36a6ff;
  border-color: #36a6ff;
  color: #fff;
}
.button.is-warning,
.button.is-warning.is-outlined {
  background-color: #b5b5b5;
  border-color: #b5b5b5;
  color: #fff;
}
.button.is-warning:hover,
.button.is-warning.is-outlined:hover {
  background-color: #ccc;
  border-color: #ccc;
  color: #fff;
}
.button.is-warning:focused,
.button.is-warning.is-outlined:focused {
  background-color: #ccc;
  border-color: #ccc;
  color: #fff;
}
.button.is-warning.is-hovered,
.button.is-warning.is-outlined.is-hovered {
  background-color: #ccc;
  border-color: #ccc;
  color: #fff;
}
.button.is-small {
  height: 2rem;
}
/*

Everything here is slowly getting moved away.

*/
html,
.navbar,
.pagnation.postpagnation,
.forumcategoryheader,
.forumpanel {
  background-image: none;
}
#wrapper {
  color: #000;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><path d="m 0,0 100,0 0,100 -100,0 z" fill="%23b5b5b5" stroke="black" stroke-width="0" /><path d="M 0,50.5 49.5,100 99,100 0,1 Z" fill="%23bbbbbb" stroke="black" stroke-width="0" /><path d="m 50,0 50,50 0,-50 z" fill="%23bbbbbb" stroke="black" stroke-width="0" /></svg>') repeat;
}
#wrapper:before {
  background-image: none;
}
body .force-wide-design .section {
  padding: 1rem 0rem;
}
body.page-forum .forumhead {
  padding: 1rem 0rem 0rem 1rem;
}
.section {
  padding: 3rem 0rem;
}
.title {
  color: #000;
}
.field.has-addons .control .input,
body.page-forum .threadpost input {
  background: #ffffff;
  color: #000;
}
.box {
  background-color: #ffffff;
  color: #000;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
strong {
  color: #147;
}
@media screen and (min-width: 768px) {
  .force-wide-design .container {
    width: calc(98.1%) !important;
  }
  .force-wide-design .threadviewsection .postblock .posthead {
    margin-left: -16.1em !important;
  }
}
.ql-editor {
  color: #000;
  font-size: 0.9rem;
}
.ql-editor strong {
  color: #000;
  font-size: bold;
}
.ql-editor mention a {
  color: #c00 !important;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
  line-height: 1.3;
  padding: 0px;
}
.ql-editor mention a:before {
  content: "@";
}
.ql-editor mention a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #ff1a1a !important;
}
.ql-snow .ql-editor h1 {
  color: #000;
}
.ql-snow .ql-editor h2 {
  color: #7b7b7b;
}
.ql-toolbar.ql-snow.toolbar button {
  color: #7b7b7b;
}
.ql-toolbar.ql-snow.toolbar button.ql-active {
  color: #000;
}
.ql-container.ql-snow .ql-editor postquote {
  border: 1px solid #888;
  margin: 10px;
}
.ql-container.ql-snow .ql-editor postquote .head {
  background-color: #ace;
  font-weight: 700;
  color: #05a;
}
.ql-container.ql-snow .ql-editor postquote .body {
  background-color: #bdf;
  color: #000;
}
.ql-container.ql-snow .ql-editor blockquote {
  border: 1px solid #888;
  margin: 10px;
  background-color: #bdf;
  padding: 1rem;
}
.ql-container.ql-snow .ql-editor blockquote:before {
  content: "";
  padding: 0;
}
.quill-editor .quill-autocomplete {
  box-shadow: 0px 0px 0px 1px black;
}
.footer {
  background: #2288fc;
}
.footer a {
  color: #fff;
}
#forum .hero-body,
.page-help .hero-body,
.page-forum .hero-body,
.page-faq .hero-body,
.page-blog-list .hero-body,
.page-blog-view .hero-body {
  padding: 0.5rem 0rem 0.5rem 0rem;
  color: #000;
}
#forum .hero-body .container,
.page-help .hero-body .container,
.page-forum .hero-body .container,
.page-faq .hero-body .container,
.page-blog-list .hero-body .container,
.page-blog-view .hero-body .container {
  padding-top: 0em;
  color: #000;
  background-color: #ffffff;
  padding: 3rem 1.5rem;
}
#forum .hero-body h2,
.page-help .hero-body h2,
.page-forum .hero-body h2,
.page-faq .hero-body h2,
.page-blog-list .hero-body h2,
.page-blog-view .hero-body h2 {
  color: #000;
}
#forum .hero.is-dark .title,
.page-help .hero.is-dark .title,
.page-forum .hero.is-dark .title,
.page-faq .hero.is-dark .title,
.page-blog-list .hero.is-dark .title,
.page-blog-view .hero.is-dark .title {
  color: #000;
}
#forum .hero.is-dark .subtitle,
.page-help .hero.is-dark .subtitle,
.page-forum .hero.is-dark .subtitle,
.page-faq .hero.is-dark .subtitle,
.page-blog-list .hero.is-dark .subtitle,
.page-blog-view .hero.is-dark .subtitle {
  color: #000;
}
#forum .hero.is-dark .subtitle strong,
.page-help .hero.is-dark .subtitle strong,
.page-forum .hero.is-dark .subtitle strong,
.page-faq .hero.is-dark .subtitle strong,
.page-blog-list .hero.is-dark .subtitle strong,
.page-blog-view .hero.is-dark .subtitle strong {
  color: #7b7b7b;
}
#forum .hero.is-danger,
.page-help .hero.is-danger,
.page-forum .hero.is-danger,
.page-faq .hero.is-danger,
.page-blog-list .hero.is-danger,
.page-blog-view .hero.is-danger {
  background-color: #ffffff;
  color: #000;
}
#forum .hero.is-danger .title,
.page-help .hero.is-danger .title,
.page-forum .hero.is-danger .title,
.page-faq .hero.is-danger .title,
.page-blog-list .hero.is-danger .title,
.page-blog-view .hero.is-danger .title {
  color: #000;
}
#forum .hero.is-danger .subtitle,
.page-help .hero.is-danger .subtitle,
.page-forum .hero.is-danger .subtitle,
.page-faq .hero.is-danger .subtitle,
.page-blog-list .hero.is-danger .subtitle,
.page-blog-view .hero.is-danger .subtitle {
  color: #000;
}
#forum .hero.is-danger .subtitle strong,
.page-help .hero.is-danger .subtitle strong,
.page-forum .hero.is-danger .subtitle strong,
.page-faq .hero.is-danger .subtitle strong,
.page-blog-list .hero.is-danger .subtitle strong,
.page-blog-view .hero.is-danger .subtitle strong {
  color: #7b7b7b;
}
.common-link a,
.ql-container.ql-snow a,
.ql-container.ql-snow .ql-editor postquote .head a,
.commits .change-entry .time a,
.forumevents a,
body.page-forum .forumhead ul .content .title a,
body.page-forum .threadlistsection .threadblock.is-sticky a,
.level-item a,
.page-search .searchentry .searchheader a {
  color: #147;
}
.common-link a:hover,
.ql-container.ql-snow a:hover,
.ql-container.ql-snow .ql-editor postquote .head a:hover,
.commits .change-entry .time a:hover,
.forumevents a:hover,
body.page-forum .forumhead ul .content .title a:hover,
body.page-forum .threadlistsection .threadblock.is-sticky a:hover,
.level-item a:hover,
.page-search .searchentry .searchheader a:hover {
  color: #1e77d0;
}
a {
  color: #147;
}
a:hover {
  color: #1e77d0;
}
.level-item {
  background-color: #2288fc !important;
}
.level-item .navbar-item {
  background-color: #2288fc !important;
  color: #fff;
}
.level-item .navbar-item:hover {
  background-color: #36a6ff !important;
}
.level-item a:hover {
  color: #fff;
}
.navbar-toolbar .container .navbar-brand .navbar-item {
  color: #fff;
  opacity: 1;
}
.navbar-toolbar .container .navbar-brand .navbar-item.darker {
  color: #fff;
}
.navbar-toolbar .container .navbar-brand .navbar-item.darker:hover {
  color: #fff;
  opacity: 1;
}
.navbar-toolbar .container .navbar-brand .navbar-item.darker .mdi-book,
.navbar-toolbar .container .navbar-brand .navbar-item.darker .mdi-account,
.navbar-toolbar .container .navbar-brand .navbar-item.darker .mdi-file-document {
  opacity: 0.5;
}
.navbar-toolbar .container .navbar-brand .navbar-item.darker .mdi-book:hover,
.navbar-toolbar .container .navbar-brand .navbar-item.darker .mdi-account:hover,
.navbar-toolbar .container .navbar-brand .navbar-item.darker .mdi-file-document:hover {
  color: #fff;
  opacity: 1;
}
.navbar-toolbar .container .navbar-brand .navbar-item:hover {
  color: #fff;
  opacity: 1;
}
.navbar.is-primary {
  background: #2288fc;
}
.navbar.is-primary .navbar-brand > a.navbar-item:hover,
.navbar.is-primary .navbar-end > a.navbar-item:hover {
  background: #36a6ff;
}
.navbar.is-dark {
  background-color: #ffffff;
}
.navbar.is-dark .navbar-brand .logo {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="112" height="28" viewBox="0 0 256 64"><path d="M 50.5,48 65,62.5 80.5,46.9 96,62.6 110.5,48 95,32.5 110.5,17 96,2.5 80.5,18 65,2.5 50.5,17 66,32.5 Z" fill="%23c00" stroke="%23c00" stroke-width="1" /><path d="m 147.50011,48 14.5,14.5 15.5,-15.6 15.5,15.7 14.5,-14.6 -15.5,-15.5 15.5,-15.5 -14.5,-14.5000001 L 177.50011,18 162.00011,2.4999999 147.50011,17 l 15.5,15.5 z" fill="%23c00" stroke="%23c00" stroke-width="1" /></svg>') no-repeat;
  margin-top: .8rem;
  margin-left: 0.8rem;
}
.navbar.is-dark .navbar-brand .logo img {
  width: 112px;
  height: 18px;
  visibility: hidden;
}
.navbar.is-dark .navbar-brand .logo:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}
.navbar.is-dark .navbar-end a.navbar-item {
  color: #147;
}
.navbar.is-dark .navbar-end a.navbar-item:hover {
  color: #fff;
  background: #36a6ff !important;
}
.navbar.is-dark .navbar-end a.navbar-item.is-active {
  color: #fff;
  background: #2288fc !important;
}
.navbar-alerts .alert-button {
  color: #fff;
}
.navbar-alerts .alert-button.has-alerts {
  text-shadow: none;
}
.navbar-burger span {
  color: #000;
}
.navbar-menu.is-active {
  background: #ffffff;
}
.navbar-loggedin .navbar-brand > .navbar-item {
  padding-left: 0rem;
  padding: 0.5em;
}
@media screen and (min-width: 768px) {
  .navbar.is-dark {
    height: 104px;
  }
  .navbar.is-dark .navbar-brand .logo {
    width: 245px;
    height: 104px;
    display: block;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="245" height="104" viewBox="0 0 245 104"><path d="m 191.36,0 c 20.8,33.28 27.04,64.48 31.2,104 L 0,104 0,0 Z" fill="%23ffffff" stroke="%23c00" stroke-width="0" /><path d="m 164.32,104 41.6,0 C 199.68,47.84 185.12,27.04 168.48,0 l -56.16,0 c 20.8,18.72 49.92,68.64 52,104 z" fill="%23c00" stroke="%23c00" stroke-width="0" /><path d="M 81.64,86.84 91,77.48 66.56,53.04 91,28.6 81.64,19.24 57.2,43.68 33.28,19.76 24.44,28.6 48.36,52.52 23.92,76.96 33.28,86.32 57.2,62.4 Z" fill="%23c00" stroke="%23c00" stroke-width="4.1" /></svg>') no-repeat;
    position: absolute;
    background-repeat: no-repeat;
    overflow: visible;
    left: -13px;
    color: transparent;
    top: -13px;
    z-index: 2;
  }
  .navbar.is-dark .navbar-brand .logo:hover {
    background-color: rgba(0, 0, 0, 0) !important;
  }
  .navbar-end {
    margin-top: 50px;
  }
}
.pagnation.threadpagnation,
.pagnation.postpagnation {
  background-color: #2288fc;
  margin: 0rem 0;
  color: #fff;
}
.pagnation.threadpagnation a:hover,
.pagnation.postpagnation a:hover {
  background-color: #36a6ff;
}
.pagnation.threadpagnation a.page.is-active,
.pagnation.postpagnation a.page.is-active {
  background-color: #006fb9;
}
.commits {
  background-color: #ffffff;
  color: #000;
}
.commits .change-entry .time {
  opacity: 1;
}
.commits .change-entry .change {
  color: #000;
}
.tabs {
  background-color: #ffffff;
  color: #7b7b7b;
}
.tabs li {
  color: #000;
}
.tabs li.is-active a {
  background-color: #ffffff;
  color: #147;
  border-bottom-color: #147;
}
.tabs li a {
  color: #7b7b7b;
}
.flex-centered {
  background-color: #ffffff;
}
@media screen {
  .flex-centered {
    padding: 0rem 0rem;
  }
}
@media screen and (min-width: 800px) {
  .flex-centered {
    padding: 3rem 1.5rem;
    margin-bottom: 3em;
  }
}
.container strong {
  color: #000;
}
.changelist {
  background-color: #ffffff;
}
.forumevents {
  background: #ffffff;
  padding: 1rem;
}
@media screen {
  .forumevents {
    margin: 0 auto;
    position: relative;
  }
}
@media screen and (min-width: 800px) {
  .forumevents {
    max-width: 736px;
    width: 736px;
  }
}
.forumevents span.timeago {
  color: #000;
}
.forumevents .entry i {
  opacity: 1;
}
.forumevents .entry .mdi {
  color: #000;
}
.forumevents .entry .mdi-cancel {
  color: #ff0000;
}
.forumevents .entry .mdi-coin {
  color: #dcd703;
}
.forumevents .entry .mdi-emoticon-happy {
  color: #00ff21;
}
.forumevents .entry .mdi-clock {
  color: #00ff21;
}
.forumevents .entry .mdi-lock {
  color: #000;
}
.forumevents .entry .mdi-delete {
  color: #000;
}
.forumevents .entry .mdi-folder-move {
  color: #000;
}
.forumevents .entry .mdi-pin {
  color: #000;
}
.forumlastpostavatar {
  background-color: #f5f5f5;
}
body.page-forum .forumcategoryblock .forumcategoryheader {
  background: #2288fc;
  color: #fff;
  font-size: 12pt;
  font-weight: bolder;
  margin: 0px 0px 0px 0px;
}
body.page-forum .forumblock {
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  background-color: #ffffff;
  margin-bottom: 0em;
}
body.page-forum .forumblock .forumname .forumtitle a {
  color: #147;
  font-weight: bolder;
}
body.page-forum .forumblock .forumname .forumtitle a:hover {
  color: #1e77d0;
}
body.page-forum .forumblock .forumlastpost {
  min-width: 20em;
  background-color: #f5f5f5;
}
body.page-forum .forumblock .forumlastpost .threadname a {
  color: #147;
  font-weight: bolder;
}
body.page-forum .forumblock.is-closed {
  background-color: #f5f5f5;
  color: #7b7b7b;
}
body.page-forum .forumhead ul .content .title {
  color: #147;
}
body.page-forum .forumhead ul .content .subtitle {
  margin-left: 0rem;
  opacity: 1;
  color: #fff;
  font-size: 1rem;
}
body.page-forum .forumhead ul .actions {
  padding-left: 0em;
}
body.page-forum .threadlistsection .threadblock {
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  background-color: #ffffff;
  margin-bottom: 0em;
}
body.page-forum .threadlistsection .threadblock a,
body.page-forum .threadlistsection .threadblock strong {
  color: #147;
  font-weight: bolder;
}
body.page-forum .threadlistsection .threadblock a:hover,
body.page-forum .threadlistsection .threadblock strong:hover {
  color: #1e77d0;
}
body.page-forum .threadlistsection .threadblock .threadicon,
body.page-forum .threadlistsection .threadblock .threadlastpost {
  background-color: #f5f5f5;
}
body.page-forum .threadlistsection .threadblock .threadmain .threadmeta {
  color: #7b7b7b !important;
}
body.page-forum .threadlistsection .threadblock .threadmain .threadmeta .pagnationcomponent .page {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #7b7b7b !important;
}
body.page-forum .threadlistsection .threadblock .threadmain .threadmeta .pagnationcomponent .page:hover {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #000 !important;
}
body.page-forum .threadlistsection .threadblock .threadmain .threadmeta .pagnationcomponent:before {
  color: #7b7b7b !important;
  content: "( ";
}
body.page-forum .threadlistsection .threadblock .threadmain .threadmeta .pagnationcomponent:after {
  color: #7b7b7b !important;
  content: " )";
}
body.page-forum .threadlistsection .threadblock .user-moderator a {
  color: #00aa00;
}
body.page-forum .threadlistsection .threadblock .user-admin a {
  color: #00aa00;
}
body.page-forum .threadlistsection .threadblock .user-banned a {
  color: #ff0000;
}
body.page-forum .threadlistsection .threadblock.is-closed {
  background-color: #eee;
  color: #7b7b7b;
}
body.page-forum .threadlistsection .threadblock.is-closed .threadicon,
body.page-forum .threadlistsection .threadblock.is-closed .threadlastpost {
  background-color: #eee;
}
body.page-forum .threadlistsection .threadblock.is-sticky {
  background-color: #ffa;
  color: fp-text-link-normal !important;
}
body.page-forum .threadlistsection .threadblock.is-sticky .threadicon,
body.page-forum .threadlistsection .threadblock.is-sticky .threadlastpost {
  background-color: #fbfba5;
}
.level-item {
  background-color: #ffffff;
}
body.page-forum .threadpost {
  background-color: #ffffff;
  color: #000;
  padding: 1rem;
}
body.page-forum .threadpost .label {
  color: #000;
}
body.page-forum .threadpost .postlist .postblock {
  background: #ffffff;
  border: 0px solid grey;
}
body.page-forum .threadpost .postlist .postblock .postmain {
  padding-top: 0rem !important;
}
body.page-forum .threadpost .postlist .postblock .postmain .posthead {
  display: none;
}
.roadmap .column .roadmap-child .title {
  background-color: #ffffff;
  color: #000;
}
#search_results {
  padding: 0rem;
  padding-bottom: 1rem;
}
#search_results > .container {
  background: #ffffff;
  color: #000;
  margin-bottom: 5em;
  margin: 0 auto;
  position: relative;
  padding: 1rem;
}
.page-search .searchentry .searchmeta {
  color: #7b7b7b;
}
.page-search .searchentry .searchbody {
  overflow-wrap: break-word;
}
.page-search .searchentry .searchbody .highlighted {
  color: #f00;
  font-weight: bolder;
}
.menu-label {
  color: #000;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
.menu-list a.is-active {
  background-color: #2288fc;
  color: #fff;
}
.menu-list li a {
  color: #000;
}
.menu-list li a:hover {
  color: #fff;
}
.menu-list .count {
  background-color: #2288fc;
  color: #fff;
}
.postlist {
  background: #ffffff;
}
body.page-forum .threadviewsection .postblock {
  position: relative;
  box-shadow: none;
  border: 1px solid grey;
  margin-top: -1px;
  margin-bottom: -0.1rem;
  background: linear-gradient(90deg, #d5e7ff 1px, #ffffff 25%, #ffffff 500px);
  background-size: 100%;
}
body.page-forum .threadviewsection .postblock .posthead {
  background-color: lightgray;
  margin-top: 0;
  margin-left: -16em;
  margin-right: auto;
  border-bottom: 1px solid grey;
  padding-bottom: 0.5rem;
  color: #000;
}
body.page-forum .threadviewsection .postblock .posthead a {
  color: #147;
}
body.page-forum .threadviewsection .postblock .posthead a:hover {
  color: #1e77d0;
}
body.page-forum .threadviewsection .postblock .posthead strong {
  color: #000;
}
body.page-forum .threadviewsection .postblock .posthead .timeago {
  background-image: url('https://facepunch.com/fp/time.png');
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position-y: -1px;
}
body.page-forum .threadviewsection .postblock .postmain .postexpand {
  margin-top: -0.8em;
}
body.page-forum .threadviewsection .postblock .postmain .postbody a {
  color: #1e77d0;
}
body.page-forum .threadviewsection .postblock .postmain .postbody a:hover {
  color: #6aaaea;
}
body.page-forum .threadviewsection .postblock .postmain .postbody p {
  color: #000;
}
body.page-forum .threadviewsection .postblock .postmain .showcode {
  background-color: #000;
  color: #fff;
}
body.page-forum .threadviewsection .postblock .postuser {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
  border-right: unset;
  padding-top: 32px;
}
body.page-forum .threadviewsection .postblock .postuser .username a {
  color: #147;
}
body.page-forum .threadviewsection .postblock .postuser .user-useronline a {
  color: #147;
  border-bottom: 1px dotted #147;
  font-weight: bolder;
}
body.page-forum .threadviewsection .postblock .postuser .user-gold a {
  color: #A06000;
}
body.page-forum .threadviewsection .postblock .postuser .user-moderator a {
  color: #00aa00;
}
body.page-forum .threadviewsection .postblock .postuser .user-admin a {
  color: #00aa00;
}
body.page-forum .threadviewsection .postblock .postuser .user-banned a {
  color: #ff0000;
}
body.page-forum .threadviewsection .postblock .postuser .common-user {
  display: block;
  font-weight: normal;
  font-size: 0.7rem;
}
body.page-forum .threadviewsection .postblock .postuser .user-gold:after {
  content: "Gold Member";
  color: #000;
  display: block;
  font-weight: normal;
  font-size: 0.7rem;
}
body.page-forum .threadviewsection .postblock .postuser .user-moderator:after {
  content: "Moderator";
  color: #00aa00;
  display: block;
  font-weight: normal;
  font-size: 0.7rem;
}
body.page-forum .threadviewsection .postblock .postuser .user-admin:after {
  content: "Administrator";
  color: #00aa00;
  display: block;
  font-weight: normal;
  font-size: 0.7rem;
}
body.page-forum .threadviewsection .postblock .postuser .user-banned:after {
  content: "Banned";
  color: #ff0000;
  display: block;
  font-weight: normal;
  font-size: 0.7rem;
}
body.page-forum .threadviewsection .postblock:first-of-type {
  margin-top: 0rem;
}
body.page-forum .threadviewsection .postblock .baninfo {
  background-color: unset;
  color: red;
}
body.page-forum .threadviewsection .postblock .baninfo .detail strong {
  color: red;
}
body.page-forum .threadviewsection .postblock.postblock-read {
  background: linear-gradient(90deg, #e2e4e7 1px, #ffffff 25%, #ffffff 500px);
}
body.page-forum .threadviewsection .postblock.postblock-own {
  background: linear-gradient(90deg, #eeffbb 1px, #ffffff 25%, #ffffff 500px);
  box-shadow: inset 0px 0px #4fa052;
}
.lastread {
  margin: 0rem 0px;
}
.votes .list {
  background-color: #ffd;
  border: 1px solid #777;
  box-shadow: none;
}
.votes .list > div {
  margin: 4px;
  border: 1px dashed #777 !important;
  width: auto;
  /*Unsets the 110px width in favor of letting the width grow for longer names*/
  min-width: 110px;
}
.votes .username {
  color: #147;
}
.votes .username.user-gold {
  color: #A06000;
  font-weight: bold;
}
.votes .username.user-moderator {
  color: #00aa00;
  font-weight: bold;
}
.votes .username.user-admin {
  color: #00aa00;
  font-weight: bold;
}
.votes .username.user-banned {
  color: #ff0000;
  font-weight: bold;
}
.dropdown-content > .votepicker {
  padding: 4px;
  background-color: #ffd;
  border: 1px solid #777;
}
.dropdown-content > .votepicker .dropdown-item {
  border: 1px dashed #777;
}
@media screen and (max-width: 768px) {
  body.page-forum .threadviewsection .postblock .posthead {
    margin-left: auto !important;
  }
}

/*# sourceMappingURL=Awfullywhite.css.map */