#wrapper footer:after {
  content: "0.0.3";
}
.button {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #000;
  float: right;
  font-weight: 700;
  padding: 2px 10px;
  margin: 0rem 0.2rem 0.8rem  0.1rem;
  font-size: 0.9rem;
}
.button:active {
  color: #000;
}
.button:hover {
  color: #7b7b7b;
  background: #f5f5f5;
}
.button .button.is-info {
  margin: 0rem 1rem;
  font-size: 1rem;
}
.button.is-primary {
  background: #2288fc;
  margin-left: 0.2rem;
  height: 2rem;
}
.button.is-primary:hover {
  background: #36a6ff;
}
.button.is-primary[disabled] {
  background: #2288fc;
  margin-left: 0.2rem;
  height: 2rem;
}
.button.is-primary[disabled]:hover {
  background: #36a6ff;
}
.button.is-success,
.button.is-success.is-outlined {
  background-color: #2288fc;
  border-color: #2288fc;
  color: #fff;
}
.button.is-success:hover,
.button.is-success.is-outlined:hover {
  background-color: #36a6ff;
  border-color: #36a6ff;
  color: #fff;
}
.button.is-success:focused,
.button.is-success.is-outlined:focused {
  background-color: #36a6ff;
  border-color: #36a6ff;
  color: #fff;
}
.button.is-success.is-hovered,
.button.is-success.is-outlined.is-hovered {
  background-color: #36a6ff;
  border-color: #36a6ff;
  color: #fff;
}
.button.is-warning,
.button.is-warning.is-outlined {
  background-color: #b5b5b5;
  border-color: #b5b5b5;
  color: #fff;
}
.button.is-warning:hover,
.button.is-warning.is-outlined:hover {
  background-color: #ccc;
  border-color: #ccc;
  color: #fff;
}
.button.is-warning:focused,
.button.is-warning.is-outlined:focused {
  background-color: #ccc;
  border-color: #ccc;
  color: #fff;
}
.button.is-warning.is-hovered,
.button.is-warning.is-outlined.is-hovered {
  background-color: #ccc;
  border-color: #ccc;
  color: #fff;
}
.button.is-small {
  height: 2rem;
}
html {
  color: #000;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><path d="m 0,0 100,0 0,100 -100,0 z" fill="%23b5b5b5" stroke="black" stroke-width="0" /><path d="M 0,50.5 49.5,100 99,100 0,1 Z" fill="%23bbbbbb" stroke="black" stroke-width="0" /><path d="m 50,0 50,50 0,-50 z" fill="%23bbbbbb" stroke="black" stroke-width="0" /></svg>') repeat;
}
html:before {
  background-image: none;
}
html body {
  background: unset;
}
#wrapper #content {
  box-shadow: unset;
}
.force-wide-design #wrapper {
  padding: 0px;
}
.force-wide-design #wrapper #content {
  padding: 0rem 0rem;
}
@media screen and (min-width: 768px) {
  .force-wide-design #wrapper #content {
    width: calc(98.1%);
    margin: 12px auto;
  }
}
.ql-editor {
  color: #000;
  font-size: 0.9rem;
}
.ql-editor a > strong {
  color: #1e77d0;
}
.ql-editor a > strong:hover {
  color: #6aaaea;
}
.ql-editor strong {
  color: #000;
  font-size: bold;
}
.ql-editor mention a {
  color: #c00 !important;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
  line-height: 1.3;
  padding: 0px;
}
.ql-editor mention a:before {
  content: "@";
}
.ql-editor mention a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #ff1a1a !important;
}
.ql-snow .ql-editor h1 {
  color: #000;
}
.ql-snow .ql-editor h2 {
  color: #7b7b7b;
}
.ql-toolbar.ql-snow.toolbar button {
  color: #7b7b7b;
}
.ql-toolbar.ql-snow.toolbar button.ql-active {
  color: #000;
}
.ql-container.ql-snow {
  border: 1px dotted #888;
}
.ql-container.ql-snow .ql-editor postquote {
  border: 1px solid #888;
  margin: 10px;
}
.ql-container.ql-snow .ql-editor postquote p {
  padding: 0rem;
  color: #000;
  font-size: 11pt;
}
.ql-container.ql-snow .ql-editor postquote .head {
  background-color: #ace;
  font-weight: 700;
  color: #05a;
}
.ql-container.ql-snow .ql-editor postquote .body {
  background-color: #bdf;
  color: #000;
}
.ql-container.ql-snow .ql-editor p {
  padding: 0rem;
  margin: 0px 10px 0px 10px;
  color: #000;
  font-size: 11pt;
}
.ql-container.ql-snow .ql-editor blockquote {
  margin: 0px 10px 0px 10px;
  background-color: #bdf;
  padding: 10px;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-top: 0px black solid;
  border-bottom: 0px black solid;
}
.ql-container.ql-snow .ql-editor blockquote:before {
  content: "";
  padding: 0;
}
.ql-container.ql-snow .ql-editor blockquote:first-of-type,
.ql-container.ql-snow .ql-editor p + blockquote,
.ql-container.ql-snow .ql-editor blockquote + p {
  border-top: 1px black solid;
}
.ql-container.ql-snow .ql-editor blockquote:last-of-type {
  border-bottom-width: 1px;
}
.quill-editor .quill-autocomplete {
  box-shadow: 0px 0px 0px 1px black;
}
.quill-tooltip {
  border: black 1px solid;
}
.quill-tooltip input {
  background-color: #ffffff;
  color: #000;
  border: 1px solid grey;
}
.quill-tooltip .links a {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #000;
  float: right;
  font-weight: 700;
  padding: 2px 10px;
  margin: 0rem 0.2rem 0.8rem  0.1rem;
  font-size: 0.9rem;
  font-size: 12px;
  font-weight: normal;
  padding: 3px;
  margin: 0rem 0.1rem 0rem 0.1rem;
}
.quill-tooltip .links a:active {
  color: #000;
}
.quill-tooltip .links a:hover {
  color: #7b7b7b;
  background: #f5f5f5;
}
.quill-tooltip .links a .button.is-info {
  margin: 0rem 1rem;
  font-size: 1rem;
}
.quill-tooltip .links a.is-primary {
  background: #2288fc;
  margin-left: 0.2rem;
  height: 2rem;
}
.quill-tooltip .links a.is-primary:hover {
  background: #36a6ff;
}
.quill-tooltip .links a.is-primary[disabled] {
  background: #2288fc;
  margin-left: 0.2rem;
  height: 2rem;
}
.quill-tooltip .links a.is-primary[disabled]:hover {
  background: #36a6ff;
}
.quill-tooltip .links a.is-success,
.quill-tooltip .links a.is-success.is-outlined {
  background-color: #2288fc;
  border-color: #2288fc;
  color: #fff;
}
.quill-tooltip .links a.is-success:hover,
.quill-tooltip .links a.is-success.is-outlined:hover {
  background-color: #36a6ff;
  border-color: #36a6ff;
  color: #fff;
}
.quill-tooltip .links a.is-success:focused,
.quill-tooltip .links a.is-success.is-outlined:focused {
  background-color: #36a6ff;
  border-color: #36a6ff;
  color: #fff;
}
.quill-tooltip .links a.is-success.is-hovered,
.quill-tooltip .links a.is-success.is-outlined.is-hovered {
  background-color: #36a6ff;
  border-color: #36a6ff;
  color: #fff;
}
.quill-tooltip .links a.is-warning,
.quill-tooltip .links a.is-warning.is-outlined {
  background-color: #b5b5b5;
  border-color: #b5b5b5;
  color: #fff;
}
.quill-tooltip .links a.is-warning:hover,
.quill-tooltip .links a.is-warning.is-outlined:hover {
  background-color: #ccc;
  border-color: #ccc;
  color: #fff;
}
.quill-tooltip .links a.is-warning:focused,
.quill-tooltip .links a.is-warning.is-outlined:focused {
  background-color: #ccc;
  border-color: #ccc;
  color: #fff;
}
.quill-tooltip .links a.is-warning.is-hovered,
.quill-tooltip .links a.is-warning.is-outlined.is-hovered {
  background-color: #ccc;
  border-color: #ccc;
  color: #fff;
}
.quill-tooltip .links a.is-small {
  height: 2rem;
}
#wrapper footer {
  background: #2288fc;
}
#wrapper footer a {
  color: #fff;
}
.common-link a,
.ql-container.ql-snow a,
.ql-container.ql-snow .ql-editor postquote .head a,
.threadlistsection .threadblock.is-sticky a {
  color: #147;
}
.common-link a:hover,
.ql-container.ql-snow a:hover,
.ql-container.ql-snow .ql-editor postquote .head a:hover,
.threadlistsection .threadblock.is-sticky a:hover {
  color: #1e77d0;
}
a {
  color: #147;
}
a:hover {
  color: #1e77d0;
}
#header {
  margin-top: 0px;
  background-color: #fff;
  border-bottom: 1px solid #bbb;
  border: 0px solid #444;
  border-bottom: 2px solid #c00;
}
#header #toolbar {
  margin-left: 0px;
}
@media screen and (min-width: 768px) {
  html body {
    padding-top: 0px;
  }
  #header .navbar-main.navbar.is-dark {
    height: 104px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="100" viewBox="0 0 10 100"><path d="M 0 0 L 0 5.5 L 5.5 0 L 0 0 z M 10 0.5 L 0 10.5 L 0 15.5 L 10 5.5 L 10 0.5 z M 10 10.5 L 0 20.5 L 0 25.5 L 10 15.5 L 10 10.5 z M 10 20.5 L 0 30.5 L 0 35.5 L 10 25.5 L 10 20.5 z M 10 30.5 L 0 40.5 L 0 45.5 L 10 35.5 L 10 30.5 z M 10 40.5 L 0 50.5 L 0 55.5 L 10 45.5 L 10 40.5 z M 10 50.5 L 0 60.5 L 0 65.5 L 10 55.5 L 10 50.5 z M 10 60.5 L 0 70.5 L 0 75.5 L 10 65.5 L 10 60.5 z M 10 70.5 L 0 80.5 L 0 85.5 L 10 75.5 L 10 70.5 z M 10 80.5 L 0 90.5 L 0 95.5 L 10 85.5 L 10 80.5 z M 10 90.5 L 0.5 100 L 5.5 100 L 10 95.5 L 10 90.5 z" fill="%23ffffff" stroke="%23c00" stroke-width="0" /></svg>'), linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.63) 28%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, 0) 83%, rgba(255, 255, 255, 0.76) 94%, rgba(255, 255, 255, 0.84) 100%), #f0f0f0;
  }
  #header .navbar-main.navbar.is-dark .navbar-brand .navbar-item.logo {
    width: 245px;
    height: 104px;
    display: block;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="245" height="104" viewBox="0 0 245 104"><path d="m 191.36,0 c 20.8,33.28 27.04,64.48 31.2,104 L 0,104 0,0 Z" fill="%23ffffff" stroke="%23c00" stroke-width="0" /><path d="m 164.32,104 41.6,0 C 199.68,47.84 185.12,27.04 168.48,0 l -56.16,0 c 20.8,18.72 49.92,68.64 52,104 z" fill="%23c00" stroke="%23c00" stroke-width="0" /><path d="M 81.64,86.84 91,77.48 66.56,53.04 91,28.6 81.64,19.24 57.2,43.68 33.28,19.76 24.44,28.6 48.36,52.52 23.92,76.96 33.28,86.32 57.2,62.4 Z" fill="%23c00" stroke="%23c00" stroke-width="4.1" /></svg>') no-repeat;
    background-repeat: no-repeat;
    left: 0px;
    color: transparent;
    top: 0px;
    z-index: 2;
  }
  #header .navbar-main.navbar.is-dark .navbar-brand .navbar-item.logo:hover {
    background-color: rgba(0, 0, 0, 0);
  }
  #header .navbar-main.navbar.is-dark .navbar-start:after {
    padding-left: 5rem;
  }
}
#wrapper #content .pagnation.threadpagnation,
#wrapper #content .pagnation.postpagnation {
  background-color: #2288fc;
  margin: 0rem 0;
  color: #fff;
}
#wrapper #content .pagnation.threadpagnation .page.pageinfo,
#wrapper #content .pagnation.postpagnation .page.pageinfo {
  color: #fff;
}
#wrapper #content .pagnation.threadpagnation a.page,
#wrapper #content .pagnation.postpagnation a.page {
  background-color: #ffffff;
  width: unset;
}
#wrapper #content .pagnation.threadpagnation a.page.prevpage:before,
#wrapper #content .pagnation.postpagnation a.page.prevpage:before {
  content: "« ";
}
#wrapper #content .pagnation.threadpagnation a.page.nextpage:after,
#wrapper #content .pagnation.postpagnation a.page.nextpage:after {
  content: " »";
}
#wrapper #content .pagnation.threadpagnation a.page:hover,
#wrapper #content .pagnation.postpagnation a.page:hover {
  background-color: #f5f5f5;
}
#wrapper #content .pagnation.threadpagnation a.page.is-active,
#wrapper #content .pagnation.postpagnation a.page.is-active {
  background-color: #f5f5f5;
  color: #000;
  font-size: bold;
}
#wrapper #content .pagnation.threadpagnation a.page.is-spacer,
#wrapper #content .pagnation.postpagnation a.page.is-spacer {
  opacity: 1;
}
.pagnation.postpagnation.above {
  border-bottom: 0px solid #bbb;
}
#wrapper #content .forumcategoryblock .forumcategoryheader {
  background: #2288fc;
  color: #fff;
  font-size: 12pt;
  font-weight: bolder;
  margin: 0px 0px 0px 0px;
}
#wrapper #content .forumcategoryblock .forumcategoryheader .categorytitle {
  color: #fff;
  font-size: 1rem;
}
#wrapper #content .forumcategoryblock .forumpanel {
  background-color: #ffffff;
  border-left: 1px solid #888;
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
}
#wrapper #content .forumcategoryblock .forumpanel:not(:last-of-type) {
  border-bottom: 1px solid #CCC!important;
}
#wrapper #content .forumcategoryblock .forumpanel .forumname {
  line-height: 1.5;
}
#wrapper #content .forumcategoryblock .forumpanel .forumname .forumtitle {
  font-size: 1.1rem;
}
#wrapper #content .forumcategoryblock .forumpanel .forumname .forumtitle a {
  color: #147;
  font-weight: bolder;
}
#wrapper #content .forumcategoryblock .forumpanel .forumname .forumtitle a:hover {
  color: #1e77d0;
}
#wrapper #content .forumcategoryblock .forumpanel .forumname .forumsubtitle {
  font-size: 0.8rem;
}
#wrapper #content .forumcategoryblock .forumpanel .forumicon {
  padding: 0.5rem;
}
#wrapper #content .forumcategoryblock .forumpanel .forumicon img {
  width: 36px;
  height: 36px;
}
#wrapper #content .forumcategoryblock .forumpanel .forumlastpost {
  min-width: 20em;
  font-size: 0.7rem;
  border-left: 0px solid #bbb;
  border-right: 0px solid #bbb;
  background-color: #f5f5f5;
}
#wrapper #content .forumcategoryblock .forumpanel .forumlastpost .threadname a {
  color: #147;
  font-weight: bolder;
}
#wrapper #content .forumcategoryblock .forumpanel .threadcount {
  color: #000;
  border-left: 0px solid #bbb;
}
#wrapper #content .forumcategoryblock .forumpanel .postcount {
  background-color: #f5f5f5;
  color: #000;
  border-left: 0px solid #bbb;
}
#wrapper #content .forumcategoryblock .forumpanel.is-closed {
  background-color: #f5f5f5;
  color: #7b7b7b;
}
/*.threadlistsection .threadlist {
	threadblock forumpanel  is-sticky is-closed has-seen
	threadblock forumpanel  has-seen has-new-posts
	threadblock forumpanel 
	threadblock forumpanel  has-seen has-new-posts
	threadblock forumpanel  is-closed is-resolvable is-resolvabed is-bounty
}
*/
.threadlistsection .threadblock {
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  background-color: #ffffff;
  margin-bottom: 0em;
}
.threadlistsection .threadblock a,
.threadlistsection .threadblock strong {
  color: #147;
  font-weight: bolder;
}
.threadlistsection .threadblock a:hover,
.threadlistsection .threadblock strong:hover {
  color: #1e77d0;
}
.threadlistsection .threadblock .threadicon,
.threadlistsection .threadblock .threadage,
.threadlistsection .threadblock .threadlastpost {
  background-color: #f5f5f5 !important;
}
.threadlistsection .threadblock .threadmain .threadmeta {
  color: #7b7b7b !important;
}
.threadlistsection .threadblock .threadmain .threadmeta .pagnationcomponent .page {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #7b7b7b !important;
  border: 0px solid #dcdcdc !important;
}
.threadlistsection .threadblock .threadmain .threadmeta .pagnationcomponent .page:hover {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #000 !important;
}
.threadlistsection .threadblock .threadmain .threadmeta .pagnationcomponent:before {
  color: #7b7b7b !important;
  content: "( ";
}
.threadlistsection .threadblock .threadmain .threadmeta .pagnationcomponent:after {
  color: #7b7b7b !important;
  content: " )";
}
.threadlistsection .threadblock .user-moderator a {
  color: #00aa00;
}
.threadlistsection .threadblock .user-admin a {
  color: #00aa00;
}
.threadlistsection .threadblock .user-banned a {
  color: #ff0000;
}
.threadlistsection .threadblock.is-closed {
  background-color: #eee !important;
  color: #7b7b7b !important;
}
.threadlistsection .threadblock.is-closed .threadicon,
.threadlistsection .threadblock.is-closed .threadage,
.threadlistsection .threadblock.is-closed .threadlastpost {
  background-color: #eee !important;
}
.threadlistsection .threadblock.is-sticky {
  background-color: #ffa !important;
  color: #147 !important;
}
.threadlistsection .threadblock.is-sticky .threadicon,
.threadlistsection .threadblock.is-sticky .threadage,
.threadlistsection .threadblock.is-sticky .threadlastpost {
  background-color: #fbfba5 !important;
}
.background-image {
  opacity: 0;
}
.postblock .postinner .postcontent,
.has-background-image {
  background: rgba(0, 0, 0, 0);
}
.postblock .postinner .postcontent:before,
.has-background-image:before,
.postblock .postinner .postcontent:after,
.has-background-image:after {
  background: rgba(0, 0, 0, 0);
}
body.page-forum .postlist .postblock {
  background: linear-gradient(90deg, #d5e7ff 1px, #ffffff 25%, #ffffff 500px);
}
body.page-forum .postlist .postblock-read {
  background: linear-gradient(90deg, #e2e4e7 1px, #ffffff 25%, #ffffff 500px);
}
body.page-forum .postlist .postblock-own {
  background: linear-gradient(90deg, #eeffbb 1px, #ffffff 25%, #ffffff 500px);
}
.lastread {
  border-top: 1px solid #777;
  border-bottom: 0px solid #bbb;
}
.title.threadname,
.title.forumname {
  color: #000 !important;
}
.title.threadname a,
.title.forumname a {
  color: #000 !important;
}
#wrapper #content .postlist .forumpanel {
  border-bottom: 0px solid #bbb;
}
#wrapper #content .postlist .forumpanel:last-of-type {
  border-bottom: 1px solid #777!important;
}
.postrender .posthead {
  background: repeat-x #ccc;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777!important;
  margin-top: 0;
  margin-right: auto;
  color: #000;
}
.postrender .posthead a {
  color: #147;
}
.postrender .posthead a:hover {
  color: #1e77d0;
}
.postrender .posthead strong {
  color: #000;
}
.postrender .posthead .timeago {
  background-image: url('https://files.facepunch.com/forum/upload/1704/e71c8716-5254-4be6-acd3-ead168c8bb3c/time.png');
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position-y: -1px;
}
.postrender .postinner .postbody {
  padding: 0rem;
}
.postrender .postinner > .postuser {
  border-right: 0px solid #bbb;
}
.posterinfo .username a {
  color: #147;
}
.posterinfo .user-useronline a {
  color: #147;
  border-bottom: 1px dotted #147;
  font-weight: bolder;
}
.posterinfo .user-gold a {
  color: #A06000;
}
.posterinfo .user-moderator a {
  color: #00aa00;
}
.posterinfo .user-admin a {
  color: #00aa00;
}
.posterinfo .user-banned a {
  color: #ff0000;
}
.postlist .postinner .postuser .posterinfo .username.user-gold:after {
  content: "Gold Member";
  color: #000;
  display: block;
  font-weight: normal;
  font-size: 0.7rem;
}
.postlist .postinner .postuser .posterinfo .username.user-moderator:after {
  content: "Moderator";
  color: #00aa00;
  display: block;
  font-weight: normal;
  font-size: 0.7rem;
}
.postlist .postinner .postuser .posterinfo .username.user-admin:after {
  content: "Administrator";
  color: #00aa00;
  display: block;
  font-weight: normal;
  font-size: 0.7rem;
}
.postlist .postinner .postuser .posterinfo .username.user-banned:after {
  content: "Banned";
  color: #ff0000;
  display: block;
  font-weight: normal;
  font-size: 0.7rem;
}
.postlist .postinner .postuser .posterinfo span.userlevel {
  display: inline;
}

/*# sourceMappingURL=Awfullywhite.css.map */