/*

Everything here is slowly getting moved away.

*/

// Background image removal
html, .navbar, .pagnation.postpagnation, .forumcategoryheader, .forumpanel{
	background-image: none;
}

// Main forum background
#wrapper {
	color: @fp-text-normal;
	//Blame Firefox
	@temp1: escape(%("%a", @fp-wrapper));
	@temp2: escape(%("%a", @fp-wrapper-light));
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><path d="m 0,0 100,0 0,100 -100,0 z" fill="@{temp1}" stroke="black" stroke-width="0" /><path d="M 0,50.5 49.5,100 99,100 0,1 Z" fill="@{temp2}" stroke="black" stroke-width="0" /><path d="m 50,0 50,50 0,-50 z" fill="@{temp2}" stroke="black" stroke-width="0" /></svg>') repeat;
	&:before {
		background-image: none;
	}

}
#content {
	overflow: hidden;
}
body {
	.force-wide-design {
		.section {
 			padding: 1rem 0rem;
 		}
	}
	&.page-forum {
		.forumhead {
			padding: 1rem 0rem 0rem 1rem;
		}
	}
}
.section {
	padding: 3rem 0rem;
}

.title {
	color: @fp-text-normal;
}
.field.has-addons .control .input, body.page-forum .threadpost input {
		background: @fp-background-white-normal;
		color: @fp-text-normal;
}
.box {
	background-color: @fp-background-white-normal;
	color: @fp-text-normal;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
strong {
	color: @fp-text-link-normal;
}

@media screen and (min-width: 768px) {
	.force-wide-design {
		.container {
			width: calc(100% - 1.9rem) !important;
		}
		.threadviewsection .postblock .posthead
		{
			margin-left: -16.1em !important;;
		}
	}
}
.tooltip.is-top:before, .tooltip.is-top:after {
    top: auto;
    right: auto;
    bottom: calc(100% + 5px + 2px);
    left: 50%;
    word-break: initial;
    overflow: hidden;
    transform: translateX(-50%);
}
.tooltip:after {
	white-space: pre;
}