//Pagenation
@fp-bar: @fp-background-blue-normal;
@fp-page: @fp-background-white-normal;
@fp-page-active: @fp-background-grey-light;
@fp-page-hover: @fp-background-grey-light;
#wrapper #content .pagnation.threadpagnation,
#wrapper #content .pagnation.postpagnation {
    background: linear-gradient(to bottom, lighten(@fp-background-blue-normal, 5%) 0%,@fp-bar 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    margin: 0rem 0;
    color: @fp-text-lighter;
    .page {
        &.pageinfo {
            color: @fp-text-lighter;
            opacity: 1;
        }
    }
    a {
        &.page {
            background-color: @fp-page;
            width: unset;
            &.prevpage:before {
                content: "« ";
            }
            &.nextpage:after {
                content: " »";
            }
            &:hover {
                background-color: @fp-page-hover;
            }
            &.is-active {
                background-color: @fp-page-active;
                color: @fp-text-normal;
                font-size: bold;
            }
            &.is-spacer {
                opacity: 1;
            }
        }
    }
}

.pagnation.postpagnation.above {
    border-bottom: 0px solid #bbb;
}