body.page-forum {
	.threadpost
	{
		background-color: @fp-background-white-normal;
		color: @fp-text-normal;
		padding: 1rem;
		.label
		{
			color: @fp-text-normal;
		}
		.postlist{
			.postblock {
				background: @fp-background-white-normal;
				border: 0px solid grey;
				.postmain {
				padding-top: 0rem !important;
					.posthead {
						display: none;
					}
				}
			}
		}
	}
}