#wrapper #content .threadlist {
    .threadblock {
        border-bottom: 1px solid #CCC;
        border-left: 1px solid #888;
        border-right: 1px solid #888;
        background-color: @fp-background-white-normal;
        margin-bottom: 0em;
        a,
        strong {
            color: @fp-text-link-normal;
            font-weight: bolder;
            &:hover {
                color: @fp-text-link-light;
            }
        }
        .threadicon,
        .threadage,
        .threadlastpost {
            background-color: @fp-background-grey-light;
            border-left: 0px solid #bbb;
        }
        .postcount {
            border-left: 0px solid #bbb;
        }
        .threadmain {
            white-space: normal;
            .threadmeta {
                color: @fp-text-light;
                .pagnationcomponent {
                    .page {
                        background-color: @fp-background-transparent;
                        color: @fp-text-light;
                        border: 0px solid #dcdcdc;
                        &:hover {
                            background-color: @fp-background-transparent;
                            color: @fp-text-normal;
                        }
                    }
                    &:before {
                        color: @fp-text-light;
                        content: "( ";
                    }
                    &:after {
                        color: @fp-text-light;
                        content: " )";
                    }
                }
                .unreadposts {
                    background-color: #FFA;
                    border: 1px solid #ccc;
                    color: @fp-text-normal;
                    &:hover {
                        background-color: #FF5;
                        border: 1px solid #555;
                    }
                    &:before {
                        font: normal normal normal 12px "Material Design Icons";
                        content: "\F5E0";
                        padding-right: 0.2rem;
                        color: #337dce;
                    }
                }
            }
        }
        .user {
            &-moderator a {
                color: @fp-user-green;
            }
            &-admin a {
                color: @fp-user-green;
            }
            &-banned a {
                color: @fp-user-red;
            }
        }
        &.is {
            &-closed {
                background-color: @fp-background-grey-normal;
                color: @fp-text-light;
                .threadicon,
                .threadage,
                .threadlastpost {
                    border-left: 0px solid #bbb;
                    background-color: @fp-background-grey-normal;
                    &:hover {
                        background-color: @fp-background-grey-normal;
                    }
                }
            }
            &-sticky {
                background-color: @fp-background-yellow-normal;
                color: @fp-text-link-normal;
                .threadicon,
                .threadage,
                .threadlastpost {
                    border-left: 0px solid #bbb;
                    background-color: @fp-background-yellow-dark;
                }
                &:hover {
                    background-color: @fp-background-yellow-dark; 
                }
                &:extend(.common-link all);
            }
        }
    }
}