.page-home {
	section.hero:not(.homepage):not(.is-success):not(.is-primary) .hero-body {
		background: @fp-background-white-normal;
		.title, .subtitle {
			color: @fp-text-normal;
		}

	}
	 svg#Layer_1 {
		fill: @fp-text-normal !important;
	}
}
.page-team #content .teamlist .hero-body {
	background: @fp-background-white-normal;
}
.page-projects #content .projectlist:first-of-type .hero-body {
	background: @fp-background-white-normal;
}