// Editor
.ql-editor {
	color: @fp-text-normal;
	font-size: 0.9rem;
	strong {
		color: @fp-text-normal;
		font-size: bold;
	}
	mention {
		a {
			background-color: #aacdef;
			color: black !important;
			padding: 0.2em;
			margin: 0.2em 0.2em;
			&:hover {
				background-color: #bbddfe;
				color: black !important;
			}
		}
	}
}
// Right........
.quill-editor {
	.quill-autocomplete {
		box-shadow: 0px 0px 0px 1px black;
	}
}
.ql-toolbar.ql-snow.toolbar {
	button {
		color: @fp-text-light;
		.ql-active {
			color: @fp-text-normal;
		}
	}
}
.ql-container.ql-snow {
	.ql-editor {
		postquote {
			border: 1px solid #888;
			margin: 10px;
			.head {
				background-color: #ace;
				font-weight: 700;
				color: #05a;
			}
			.body {
				background-color: #bdf;
				color: @fp-text-normal;
			}
		}
	}
	&:extend(.common-link all);
}