// Editor
.ql-editor {
	color: @fp-text-normal;
	font-size: 0.9rem;
	strong {
		color: @fp-text-normal;
		font-size: bold;
	}
	mention {
		a {
			color: @fp-text-mention !important;
			font-weight: bold;
			background-color: @fp-background-transparent;
			line-height: 1.3;
			padding: 0px;
			&:before {
				content: "@";
			}
			&:hover {
				background-color: @fp-background-transparent;
				color: @fp-text-mention-hover !important;
			}
		}
	}
}
// Right........
.quill-editor {
	.quill-autocomplete {
		box-shadow: 0px 0px 0px 1px black;
	}
}
.ql-toolbar {
	&.ql-snow.toolbar {
		button {
			color: @fp-text-light;
			&.ql-active {
				color: @fp-text-normal;
			}
		}
	}
}
.ql-container.ql-snow {
	.ql-editor {
		postquote {
			border: 1px solid @fp-quote-border;
			margin: 10px;
			.head {
				background-color: @fp-quote-head;
				font-weight: 700;
				//should be links..
				color: #05a;
				&:extend(.common-link all);
			}
			.body {
				background-color: @fp-quote-body;
				color: @fp-text-normal;
			}
		}
	}
	&:extend(.common-link all);
}
.ql-snow {
	.ql-editor {
		h1 {
			color: @fp-text-normal;
		}
		h2 {
			color: @fp-text-light;
		}
	}
}