//Post indicator
@fp-post-own: @fp-indicator-own 1px, @fp-background-white-normal 25%;
@fp-post-old: @fp-indicator-old 1px, @fp-background-white-normal 25%;
@fp-post-new: @fp-indicator-new 1px, @fp-background-white-normal 25%;

.postlist {
	background: @fp-background-white-normal;
}

body.page-forum {
	.threadviewsection {
		.postblock {
			position: relative;
			box-shadow: none;
			border: 1px solid grey;
			margin-top: -1px;
			margin-bottom: -0.1rem;
			background: linear-gradient(90deg,  @fp-post-new, @fp-background-white-normal 500px);
			background-size: 100%;
			.posthead {
				background-color: lightgray;
				margin-top: 0;
				left: -196px; /*Makes the time stuff span all the way left*/
				right: -16px;
				border-bottom: 1px solid grey;
				padding-bottom: 0.5rem;
				color: @fp-text-normal;
				a {
					color: @fp-text-link-normal;
					&:hover {
						color: @fp-text-link-light;
					}
				}
				strong {
					color:@fp-text-normal;
				}
			}
			.posthead .timeago {
				//temp
				background-image: url('https://facepunch.com/fp/time.png');
				background-repeat: no-repeat;
				padding-left: 17px;
				background-position-y: -1px;
			}
			.postmain {
				.postexpand {
					margin-top: -0.8em;
				}

				.postbody {
					a {
						color: @fp-text-link-light;
						&:hover {
							color: @fp-text-link-lighter;
						}
					}
					p {
						color: @fp-text-normal;
					}
				}
			}
			.postuser {
				box-shadow: none;
				background-color: @fp-background-transparent;
				border-right: unset;
				padding-top: 32px;
				.username {
					a {
						color: @fp-user-blue;
					}
					.user-online {
						a {
							color: @fp-user-blue;
							border-bottom: 1px dotted @fp-user-blue;
							font-weight: bolder;
						}
					}
				}
				.user-gold {
					a {
						color: @fp-user-gold;
					}
				}
				.user-moderator {
					a {
						color: @fp-user-green;
					}
				}
				.user-admin {
					a {
						color: @fp-user-green;
					}
				}
				.user-banned {
					a {
						color: @fp-user-red;
					}
				}
			}
			&:first-of-type {
				margin-top: 0rem;
			}
		}
		.postblock.postblock-read {
			box-shadow: none;
			background: linear-gradient(90deg,  @fp-post-old, @fp-background-white-normal 500px);
			background-size: 100%;
		}
		.postblock.postblock-own {
			box-shadow: none;
			background: linear-gradient(90deg,  @fp-post-own, @fp-background-white-normal 500px);
			background-size: 100%;
		}
	}
}

.lastread {
	margin: 0rem 0px;
}