body.page-forum {
	.forumblock {
		margin-bottom: 0em;
	}
	.forumhead {
		ul {
			.content {
				.title {
					&:extend(.common-link all);
					color: @fp-text-link-normal;
				}
				.subtitle {
					margin-left: 0rem;
					opacity: 1;
					color: @fp-text-lighter;
					font-size: 1rem;
				}
			}
		}
	}
	.threadlistsection {
		.threadblock {
			border-bottom: 1px solid #CCC;
			border-left: 1px solid #888;
			border-right: 1px solid #888;
			background-color: @fp-background-white-normal;
			margin-bottom: 0em;
			a,strong {
				color: @fp-text-link-normal;
				font-weight: bolder;
				&:hover {
					color: @fp-text-link-light;
				}
			}
			.threadicon, .threadlastpost {
				background-color:@fp-background-grey-light;
			}
			.threadmain {
				.threadmeta {
					.pagnationcomponent {
						.page {
							background-color: @fp-background-transparent;
							color: @fp-text-light;
							&:hover {
								background-color: @fp-background-transparent;
								color: @fp-text-normal;
							}
						}
						&:before {
							content: "( ";
						}
						&:after {
							content: " )";
						}
					}
				}
			}
			.user {
				&-moderator a {
					color: @fp-user-green;
				}
				&-admin a {
					color: @fp-user-green;
				}
				&-banned a {
					color: @fp-user-red;
				}
			}
		}
		.threadblock.is {
			&-closed {
				background-color:@fp-background-grey-normal;
				color: @fp-text-light;
				.threadicon, .threadlastpost {
					background-color: @fp-background-grey-normal;
				}
			}
			&-sticky {
				background-color: @fp-background-yellow-normal;
				.threadicon, .threadlastpost {
					background-color: @fp-background-yellow-dark;
				}
			}
		}
	}
}