// Colors you can edit here
// -------------------------------------------
// Options
@fp-settings-roundings: true;
@fp-settings-titles: true;
@fp-settings-mobile-avatars: false;
@fp-settings-lastread-hide: false;

//Backgrounds

@fp-background-blue-normal: #235789;
@fp-background-blue-light: #3074b5;
@fp-background-blue-dark: #1b2845;

//@fp-background-white-light: ;
@fp-background-white-normal: #373938;
//@fp-background-white-dark: ;

@fp-background-yellow-normal: #ffa;
@fp-background-yellow-dark: #fbfba5;

@fp-background-grey-light: #585858;
@fp-background-grey-normal: #4c4c4c;
@fp-background-grey-dark: #333333;

@fp-background-transparent: rgba(0, 0, 0, 0);

@fp-wrapper: #5b616a;
@fp-wrapper-light: lighten(@fp-wrapper, 2.3%);

@fp-logo-normal: #c00;

//Links
//darken(hsl(90, 80%, 50%), 20%)
@fp-text-link-lighter: lighten(@fp-text-link-normal, 40%);
@fp-text-link-normal: #d0d0d0;
@fp-text-link-light: lighten(@fp-text-link-normal, 20%);

//Text
@fp-text-normal: #e0e0e0;
@fp-text-lighter: #fff;
@fp-text-light: lighten(@fp-text-normal, 48.3%);
@fp-text-highlight: #f00;

// Usergroups
@fp-user-blue: #147;
@fp-user-green: #00aa00;
@fp-user-red: #ff0000;
@fp-user-gold: #A06000;

// Post indicators
@fp-indicator-own: #637921;
@fp-indicator-old: #000000;
@fp-indicator-new: #003479;

// Quote
@fp-quote-head: #333333;
@fp-quote-body: #585858;
@fp-quote-border: #333333;
// -------------------------------------------