// Colors you can edit here
// -------------------------------------------
// Options
@fp-settings-roundings: true;
@fp-settings-titles: true;
@fp-settings-mobile-avatars: false;
@fp-settings-lastread-hide: false;

//Backgrounds

@fp-background-blue-normal: #2288fc;
@fp-background-blue-light: #36a6ff;
@fp-background-blue-dark: #006fb9;

//@fp-background-white-light: ;
@fp-background-white-normal: #ffffff;
//@fp-background-white-dark: ;

@fp-background-yellow-normal: #ffa;
@fp-background-yellow-dark: #fbfba5;

@fp-background-grey-light: #f5f5f5;
@fp-background-grey-normal: #eee;
@fp-background-grey-dark: #ccc;

@fp-background-transparent: rgba(0, 0, 0, 0);

@fp-wrapper: #b5b5b5;
@fp-wrapper-light: lighten(@fp-wrapper, 2.3%);

@fp-logo-normal: #c00;

//Links
//darken(hsl(90, 80%, 50%), 20%)
@fp-text-link-lighter: lighten(@fp-text-link-normal, 40%);
@fp-text-link-normal: #147;
@fp-text-link-light: lighten(@fp-text-link-normal, 20%);

//Text
@fp-text-normal: #000;
@fp-text-lighter: #fff;
@fp-text-light: lighten(@fp-text-normal, 48.3%);
@fp-text-highlight: #f00;

// Usergroups
@fp-user-blue: #147;
@fp-user-green: #00aa00;
@fp-user-red: #ff0000;
@fp-user-gold: #A06000;

// Post indicators
@fp-indicator-own: #eeffbb;
@fp-indicator-old: #e2e4e7;
@fp-indicator-new: #d5e7ff;

// Quote
@fp-quote-head: #ace;
@fp-quote-body: #bdf;
@fp-quote-border: #888;
// -------------------------------------------