//Post indicator
@fp-post-own: @fp-indicator-own 1px,
@fp-background-white-normal 25%;
@fp-post-old: @fp-indicator-old 1px,
@fp-background-white-normal 25%;
@fp-post-new: @fp-indicator-new 1px,
@fp-background-white-normal 25%;
.settings-titles() when (@fp-settings-titles =true) {
    .username {
        &.user {
            &-gold:after {
                content: "Gold Member";
                color: @fp-text-normal;
                display: block;
                font-weight: normal;
                font-size: 0.7rem;
            }
            &-moderator:after {
                content: "Moderator";
                color: @fp-user-green;
                display: block;
                font-weight: normal;
                font-size: 0.7rem;
            }
            &-admin:after {
                content: "Administrator";
                color: @fp-user-green;
                display: block;
                font-weight: normal;
                font-size: 0.7rem;
            }
            &-banned:after {
                content: "Banned";
                color: @fp-user-red;
                display: block;
                font-weight: normal;
                font-size: 0.7rem;
            }
        }
    }
}

.background-image {
    opacity: 0;
}

.postblock .postinner .postcontent,
.has-background-image {
    background: @fp-background-transparent;
    &:before,
    &:after {
        background: @fp-background-transparent;
    }
}

body.page-forum {
    .postlist {
        .postblock {
            background: linear-gradient(90deg, @fp-post-new, @fp-background-white-normal 500px);
            &-read {
                background: linear-gradient(90deg, @fp-post-old, @fp-background-white-normal 500px);
            }
            &-own {
                background: linear-gradient(90deg, @fp-post-own, @fp-background-white-normal 500px);
            }
        }
    }
}

.lastread {
    border-top: 1px solid #777;
    border-bottom: 0px solid #bbb;
}

.title.threadname,
.title.forumname {
    color: @fp-text-normal!important;
    a {
        color: @fp-text-normal!important;
    }
}

#wrapper #content .postlist .forumpanel {
    border-bottom: 0px solid #bbb;
    &:last-of-type {
        border-bottom: 1px solid #777!important;
    }
}

.postrender {
    .posthead {
        background: repeat-x #ddd;
        border-top: 1px solid #777;
        border-bottom: 1px solid #777!important;
        margin-top: 0;
        margin-right: auto;
        color: @fp-text-normal;
        .common-link;
        strong {
            color: @fp-text-normal;
        }
        .timeago {
            //temp
            background-image: url('https://files.facepunch.com/forum/upload/1704/e71c8716-5254-4be6-acd3-ead168c8bb3c/time.png');
            background-repeat: no-repeat;
            padding-left: 20px;
            background-position-y: -1px;
        }
    }
    .postinner {
        .postbody {
            padding: 0rem;
        }
    }
    .postinner>.postuser {
        border-right: 0px solid #bbb;
        .user-card {
            top: 1px; /*Changed from -16px in the default theme*/
            left: -28px; /*Changed from -29px*/
        }
    }
}

.posterinfo {
    .user {
        &name a {
            color: @fp-user-blue;
        }
        &-useronline a {
            color: @fp-user-blue;
            border-bottom: 1px dotted @fp-user-blue;
            font-weight: bolder;
        }
        &-gold a {
            color: @fp-user-gold;
        }
        &-moderator a {
            color: @fp-user-green;
        }
        &-admin a {
            color: @fp-user-green;
        }
        &-banned a {
            color: @fp-user-red;
        }
    }
}

.postlist .postinner .postuser .posterinfo {
    .settings-titles;
    span.userlevel {
        display: inline;
    }
}