.votes {
	.list {
		background-color: @fp-background-yellow-light;
		border: 1px solid @fp-border-grey;
		box-shadow: none;
		& > div {
			margin: 4px;
			border: 1px dashed @fp-border-grey !important;
			width: auto; /*Unsets the 110px width in favor of letting the width grow for longer names*/
			min-width: 110px;
		}
	}
	.username {
		color: @fp-user-blue;
		&.user- {
			&gold {
				color: @fp-user-gold;
				font-weight: bold;
			}
			&moderator {
				color: @fp-user-green;
				font-weight: bold;
			}
			&admin {
				color: @fp-user-green;
				font-weight: bold;
			}
			&banned {
				color: @fp-user-red;
				font-weight: bold;
			}
		}
	}
}
.dropdown-content {
	& > .votepicker {
		padding: 4px;
		background-color: @fp-background-yellow-light;
		border: 1px solid @fp-border-grey;
		.dropdown-item {
			border: 1px dashed @fp-border-grey;
		}
	}
}